<% layout('layouts/boilerplate')%>

<h1>All Lift Records</h1>


<% lifts.forEach(function(lift) { %>
  <div>
    <h2><%= lift.date.toDateString() %></h2>
    <p>Bench Press: <%= lift.bench.weightLifted %>kg</p>
    <p>Squat: <%= lift.squat.weightLifted %>kg</p>
    <p>Deadlift: <%= lift.deadlift.weightLifted %>kg</p>
  </div>
<% }); %>
